.app {
  text-align: center;
  padding: 0 24px;
  height: 100vh;
  font-size: 30rpx;
  color: rgb(245, 225, 172);
}

.header {
  padding-top: 2%;
}

.title {
  width: 100%;
  padding: 0 15%;
  box-sizing: border-box;
}

.description {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 5%;
  background-size: 100% 100%;
  box-sizing: border-box;
}

.description-text {
  padding: 12% 10% 15% 8%;
  width: 88%;
  text-align: left;
}

.description-item {
  margin-bottom: 15rpx;
}

.content {
  margin-top: -50rpx;
  padding: 0 8% 0 6%;
}

.qrcode {
  display: flex;
  margin-top: 20rpx;
  margin-bottom: 20rpx;
  justify-content: space-around;
}

.qrcode-box {
  width: 35%;
}

.image {
  width: 100%;
}

.button {
  width: 30%;
  color: #283848;
  background: rgb(245, 225, 172);
  height: 80rpx;
  border-radius: 40rpx;
  line-height: 80rpx;
  font-size: 40rpx;
}