.app {
  text-align: center;
  padding: 0 24px;
  height: 100vh;
}

.header {
  padding-top: 5%;
}

.title {
  width: 100%;
  padding: 0 20%;
  box-sizing: border-box;
}

.bottom {
  margin: 90% auto 0;
  width: 50%;
}

.bottom-text {
  color: #fff;
  font-size: 24rpx;
  line-height: 1.2;
  margin-bottom: 25rpx;
  text-align: left;
}

.button {
  color: #283848;
  background: rgb(245, 225, 172);
  height: 80rpx;
  border-radius: 40rpx;
  line-height: 80rpx;
  font-size: 40rpx;
}
