.box {
  height: 100vh;
}

.description {
  height: 80%;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 5%;
  background-size: 100% 100%;
  overflow-y: hidden;
  box-sizing: border-box;
  color: rgb(245, 225, 172);
}

.description-text {
  overflow-y: scroll;
  margin: 12% 10% 22% 8%;
  height: 78%;
  width: 88%;
  white-space: pre-line;
  user-select: none;
  text-align: left;
  font-size: 30rpx;
}

.button {
  width: 30%;
  color: #283848;
  background: rgb(245, 225, 172);
  height: 80rpx;
  border-radius: 40rpx;
  line-height: 80rpx;
  font-size: 40rpx;
}
